/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
}
#me{
	max-width: 200px;
	max-height: 200px;
}
#terminal{
	text-align:center;
	max-height: 100px;
	max-width: 100px;
}
