<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Kanha Prasad</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="jumbotron" style="height:500px;">
      <div class="container" style="text-align:center;padding-top:100px">
        <img id="me" src="{{ url_for('static',filename='images/me.jpg') }}" alt="" class="img-circle"/>
        <h2>Kanha Prasad</h2>
        <h3>Jakarta International School '17</h3> 
      </div>
    </div>

    <div class="container">
      <div class="row"style="text-align:center">
        <a href="/code">
          <div class="col-md-4">
            <h2>Code</h2>
              <span id="icon" class="glyphicon glyphicon-console" aria-hidden="false">
                </br>
                </br>
                  <p>
                  My projects utilizing the only form of literature I read
                </p>
              </span>
          </div>
        </a>
        <a href="/reads">
          <div class="col-md-4">
            <h2>Influences</h2>
            <span id="icon" class="glyphicon glyphicon-globe" aria-hidden="false">
              </br></br>
              <p>
                A curated list of people and books that have influenced my political, social and ethical views
              </p>
            </span>   
          </div>
        </a>
        <a href="/blog">
          <div class="col-md-4">
            <h2>Musings</h2>
              <span id="icon" class="glyphicon glyphicon-leaf" aria-hidden="false">
              </br></br>
                <p>
                  A blog where I write about school, code, debate and people
                </p>
              </span>
          </div>
        </a>
      </div>

      <hr> <!--Horizontal rule-->

      <div class="contact">
        <h2>Contact</h2>
        <!-- Github, facebook, twitter, resume, mail, quora-->
        <nav>
        <ul class="row" style="padding-top:30px;">
          <li class = "col-xs-2">
            <a href="https://www.facebook.com/kanha.prasad546" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class = "col-xs-2">
            <a href="https://www.twitter.com">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class = "col-xs-2">
            <a href="http://www.quora.com/Kanha-Prasad">
              <span class="fa fa-fw"><strong>Q</strong></span>
            </a>
          </li>
          <li class = "col-xs-2">
            <a href="https://github.com/kanhap99">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li class = "col-xs-2">
            <a href="{{url_for('static',filename='pdf/resume.pdf')}}">
              <i class="fa fa-file"></i>
            </a>
          </li>
          <li class = "col-xs-2">
            <a href="mailto:kanhaprasad546@gmail.com">
              <i class="fa fa-envelope-o"></i>
            </a>
          </li>
        </ul>
      </nav>
      </div>
      
      <footer id="foot">
        <p>&copy; Kanha Prasad 2015</p>
      </footer>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
